
* {
    margin: 0;
    box-sizing: border-box;
}

.seccion-redes{
    overflow: hidden;
}

nav{
    background-color:#014f04;
    padding: 4px;
    
}

header{
    background-color:white;
       /* Enable flex mode. */
       display: flex;
       /* Spread out the elements inside the header. */
       justify-content: space-between;
       /* Align items vertically in the center. */
       align-items: center;
}

section{
    padding: 0px 5px 5px 5px;
}

.color-div2{
    background: #f9989f;
}

.color-div{
    background: #aec56c;
    color: #2e3e03;
}

.menu-area a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: #009e72;
    height: 50px;
    text-decoration: none;
}

.menu-area a:hover {
    background: #02b482;
    color: #fff;

}

.menu-area ul {
    list-style: none;
    display: flex;
}

.menu-area li {
    position: relative;
    width: 100%;
    text-align: center;
}

.menu-area li:hover .dropdown-1>li {
    top: 0;
    display: block;
}

.dropdown-1 li {
    display: none;
    position: relative;
}

.dropdown-1 {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 9 !important;
}

.dropdown-1 li:hover {
    display: block;
}

section{
    font-size: 16px;
}

h3{
    color: #405404;
    font-size: 25px;
    margin-bottom: 10px;
}

.imagenes{
    display: block;
    margin: 10px auto 10px auto;
}

footer{
    background-color: black;
    color: blanchedalmond;
    padding: 20px;
    text-align: center;
}

footer{
    background-color: #014f04;
    color: blanchedalmond;
    padding: 20px;
    text-align: center;
}

.seccion-footer{
    width: 100%;
    margin-top:30px;
}

pre {
    background-color: #a2a2ff9c;
    color: black;
    font-size: 1.1em;
    line-height: 1.44rem;
    padding: 0.72rem;
    margin: 1.2rem 0;
    border-radius: 3px;
}
pre {
    font-family: monospace;
    font-size: 1em;
    white-space: pre-wrap;
}

.titulo-principal{
    text-align: center;
    color: #014f04;
    font-size: 35px;
}